@font-face {
	font-family: "LinLibertine";
	src: url('../fonts/LinLibertine_R.woff');
}
body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #efefef;
}
.pw-container {
	position: relative;
	margin: 0px auto;
	width: auto;
	overflow: hidden;
}
.scroller {
	margin: 0px;
	float: left;
}
#list-region {
	width: auto;
	overflow: auto;
	margin-left; -10px;
	margin-right: -10px;
}
article {
	font-family: 'Cardo', 'Times New Roman', serif;
	line-height: 28px;
	font-size: 18px;
	max-width: 670px;
}
article p {
	margin-bottom: 24px;
}
article:first-child {
	margin-top: 20px;
}
.about {
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
}
.about-img {
	width: 100%;
}
.about-img img {
	width: 100%;
	height: auto;
}
#mobile-title {
	padding-left: 0px;
}
.nav-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 51px;
	background-color: #fff;
	border-bottom: 1px solid #E7E7E7;
	z-index: 1030;
}
nav.navbar {
	color: #000;
	left: auto;
	right: auto;
	width: 100%;
	background-color: #fff;
	font-family: 'LinLibertine', 'Times New Roman', serif;
	font-size: 18px;
	border-bottom: 0px solid #000;

}
nav.navbar a.navbar-brand {
	color: #000;
}
@media screen and (min-width: 768px) {
	ul.nav.navbar-nav li:first-child a {
		padding-left: 0px;
	}
}
nav.navbar .navbar-nav>.active>a,
nav.navbar .navbar-nav .active>a:focus,
nav.navbar .navbar-nav .active>a:hover
{
	background-color: #fff;
	color: #333;
}


.book {
	float: left;
	overflow: hidden;
	background-color: white;
}
.book img{
	max-width: 100%;
	max-height: 100%;
	background-color: white;
}
.book .book-data {
	display: none;
}

@media (min-width: 1300px) {
	.container {
		width: 90%;
	}
}

/*
@media screen and (min-width: 770px) {
	.container.about {
		width: 700px;
		background-color: #fff;
	}
}
	*/
@media screen and (max-width: 770px) {
	nav.navbar a.navbar-brand {
		padding-left: 0;
	}
}
.group:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
}
