<% if(c.thumb) { %>
<div class="book"
	data-book-name="<%= c.name %>"
	style="width: <%= g.c.ITEM_WIDTH %>px; height: <%= g.c.ITEM_WIDTH*1.45%>px;
				margin: 0px <%= g.c.ITEM_MARGIN/2 %>px <%= g.c.ITEM_MARGIN %>px
								<%= g.c.ITEM_MARGIN/2 %>px;">
	<a href="<%= g.c.LULU_URL(c.sku) %>" target="_blank">
		<div class="book-thumb">
			<% if(g.c.PRELOAD_THUMBS){
			%>
				<img 	class="lazy book thumb preload" 
							src="<%= g.c.LOADER_PATH %>/"
							data-original="<%= g.c.IMG_DIR %>/<%=c.thumb %>" />
			<%
				} else {
			%>
				<img class="thumb" src="<%= g.c.IMG_DIR %>/<%=c.thumb%>" />
			<%
				}
			%>
		</div>
		<div class="book-data">
				<h4 class="book-name">
					<%= c.name %>
				</h4>
		</div>
	</a>
</div>
<% } %>
