<article id="credits">
	<div class="row">
		<div class="col-lg-7">
			<div class="about-img">
				<img data-src="img/PrintWikipedia-Entropy-2500px.jpg" />
			</div>
		</div>
	</div>
	<h2>Credits</h2>
	<div class="row">
		<div class="col-lg-7">
			<p>
				Produced with support from Eyebeam, The Banff Centre, the City
				University of New York, and Lulu.com. 
			</p>
			<p>
				Built with programming assistance from Denis Lunev,
				Jonathan Kiritharan, Kenny Lozowsky, and Colin Elliot; design
				assistance from Patrick Davison; and web development by Ben
				Lerchin.
			</p>
			<div class="panel panel-default panel-legal">
				<div class="panel-body">
				<p>
					CC BY-SA 3.0 2015, Wikipedia contributors; see Appendix for a
					complete list of contributors. Please see
					http://creativecommons.org/licenses/by-sa/3.0/ for full license.
				</p>
				<p>
					This work is legally categorized as an artistic work. As such, this
					qualifies for trademark use under clause 3.6.3 (Artistic,
					scientific, literary, political, and other non-commercial uses) as
					denoted at wikimediafoundation.org/wiki/ Trademark_policy
				</p>
				<p>
					Wikipedia is a trademark of the Wikimedia Foundation and is used with
					the permission of the Wikimedia Foundation. This work is not endorsed
					by or affiliated with the Wikimedia Foundation.
				</p>
				</div>
			</div>
		</div>
</article>
